.best {
  &__section {
    margin-top: 20rem;
    color: #fff;
    position: relative;
    height: 50rem;
  }
  &__img {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  &__content {
    padding: 13rem 21rem 14rem 70rem;
    background-color: $primary;
  }
  &__title {
    font-size: 5rem;
    margin-bottom: 3rem;
  }
  &__desc {
    font-size: 3rem;
    line-height: 3.8rem;
  }
}
