.quality {
  &__section {
    margin-top: 8rem;
    position: relative;
  }
  &__top {
    height: 80rem;
    position: absolute;
    right: 0;
  }
  &__mid {
    padding-top: 12.5rem;
    position: relative;
  }
  &__content {
    position: absolute;
    top: 37rem;
    left: 20rem;
    max-width: 41rem;
    color: #fff;
  }
  &__title {
    font-size: 5rem;
    margin-bottom: 3.5rem;
  }
  &__desc {
    font-size: 3rem;
    line-height: 4rem;
  }
  &__img {
    position: absolute;
    right: 0;
    top: 88rem;
  }
  &__bot {
    position: absolute;
    top: 129rem;
  }
}
